# ---> Nim
nimcache/
nimblecache/
htmldocs/
build/

nimble.develop
nimble.paths
nimbledeps
tests/test_layout
/nest
/tests/test_ui
/tests/test_widget
/tests/test_events
/tests/test_dsl_reader
/src/example/pathEditor/pathEditor
/src/example/layerShellBar/layerShellBar
/tests/test_dsl_runtime
/tests/test_crowdsl
example/layerShellBar/layerShellBar
*.out
docs/api/
