############# begin Atlas config section ##########
--noNimblePath
--path:"deps/chroma/src"
--path:"deps/dbus"
--path:"deps/kiwiberry/src"
--path:"deps/micros/src"
--path:"deps/owl/src"
--path:"deps/sdl3/src"
############# end Atlas config section   ##########
